.red-box {
  width: 400px;
  height: 100px;
  background-color: #f00;
  position: relative;
}

.white-box {
  width: 160px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 20px; 
  right: 20px; 
}

.purple-box1 {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #6729a0;
  position: absolute;
  top: 30px;
  right: 80px;
}

.purple-box2 {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #6729a0;
  position: absolute;
  top: 30px;
  right: 130px;
}

.purple-box3 {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #6729a0;
  position: absolute;
  top: 30px;
  right: 30px;
}

.green-box {
  width: 150px;
  height: 250px;
  background-color: #0a5;
}

.blue-box {
  width: 250px;
  height: 250px;
  background-color: #2563eb;
  position: relative;
}

.white-box1 {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}

.orange-box1 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  position: absolute;
  margin-top: 45px;
  margin-left: 45px;
}

.white-box2 {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: 40px;
}

.orange-box2 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  position: absolute;
  top: 105px;
  left: 45px;
}

.white-box3 {
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute;
  margin-top: 160px;
  margin-left: 40px;
}

.orange-box3 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  position: absolute;
  margin-top: 165px;
  margin-left: 45px;
}

.yellow-box {
  width: 400px;
  height: 100px;
  background-color: #fd0;
}

/* .clearfix::after { 
  content: "";
  display: block;
  clear: both;
}*/

.second-box{
  display: flex;
}